<footer class="c-page__footer">
  <!-- 저작권 표시 -->
  <p class="copyright"> koyunji_2025</p>

  <!-- 지젝 농담 랜덤 출력 -->
  <script type="text/javascript">
    var fortune = [];
    fortune[0] = '바르샤바에 있는 레닌에 대한 유명한 농담이 있다. 모스크바에서 열린 한 미술 전시회에 레닌의 부인이 공산당 청년동맹의 단원과 침대에 함께 있는 그림이 전시되었다. 가이드는 근엄한 표정을 지으며 "레닌은 바르샤바에 있습니다."라고 대답했다.';
    fortune[1] = '두 명의 유대인이 길을 걷다가 가톨릭으로 개종하면 3만 달러를 준다는 교회의 간판을 보았다. 며칠 후, 한 유대인이 다른 유대인에게 그 제안이 진지한 건지 모르겠다고 말했다. 다른 유대인은 "오, 너는 돈만 생각하냐?"고 대답했다.';
    fortune[2] = '철학자가 바보에게 말했다. "당신은 바보입니다." 바보가 대답했다. "그럼 당신은 무엇입니까?" 철학자가 말했다. "나는 철학자입니다." 바보가 말했다. "그럼 나는 당신보다 더 똑똑합니다."';
    fortune[3] = '지젝은 말한다. 예수는 "너희 중 죄 없는 자가 먼저 돌을 던져라"고 했다. 마르크스는 "돌은 이미 체계적으로 배분되어 있다"고 했다.';
    fortune[4] = '소련 식당의 웨이트리스가 말한다. "오늘은 커피가 없습니다. 우유가 없는 커피는 어제였어요."';
    fortune[5] = '어느 교수와 학생이 대화 중이다. 교수:"나는 진리를 추구한다." 학생:"그럼 진리는 무엇인가요?" 교수:"진리는 내가 추구하는 것입니다."';
    fortune[6] = '환자가 정신과 의사에게 말한다. "선생님, 저는 모든 것을 의심합니다." 의사가 대답한다. "그럼 당신은 나를 의심합니까?" 환자가 말한다. "물론입니다." 의사가 말한다. "그럼 당신은 의심하지 않는 것이 아닙니까?"';
    fortune[7] = '새로고침시 농담이 하나씩 올라옵니다.';
    fortune[8] = '교수가 학생에게 말한다. "당신은 철학을 이해하지 못합니다." 학생이 대답한다. "그럼 철학이란 무엇입니까?" 교수: "철학은 당신이 이해하지 못하는 것입니다."';

    var index = Math.floor(Math.random() * fortune.length);
    document.write('<p class="fortune-text">' + fortune[index] + '</p>');
  </script>
</footer>
