<footer class="c-page__footer">
  <div class="footer-fortune">
    <p class="fortune-center">고윤지 쓰고 만듦</p>
  </div>
</footer>

<style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
.footer-fortune {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 24px 20px;
  font-size: 10px;
  line-height: 1;
  color: #333;
}

.fortune-center {
  text-align: center;
  opacity: 0.7;
  white-space: nowrap;
}
</style>
