	{% if page.layout == 'amp' %}
		<p>どうしてこうなるんだろう…</p>
	{% else %}
		<script type='text/javascript'>
			fortune = new Array(9);
			fortune[0] = '바르샤바에 있는 레닌”에 대한 유명한 농담이 있다. 모스크바에서 열린 한 미술 전시회에 레닌의 부인이 공산당 청년동맹의 단원과 침대에 함께 있는 그림이 전시 되었다. 그 그림의 표제가 “바르샤바에 있는 레닌”이었다. 한 당황한 관광객이 가이드에게 “그런데 레닌은 어디에 있는 거죠?”라고 물었다. 가이드는 근엄한 표정을 지으며 “레닌은 바르샤바에 있습니다.”라고 대답했다고 한다.';
			fortune[1] = '밀담(密談) - 김언희, 의자마다 목 떨어진 난쟁이가 앉아 있다면, 천 년 전부터 끓던 국물이라면, 추행하는 자와 추행 당하는 자의 이름이 같다면, 그 이유의 이유를 설명해야 한다면, 계단 아래서 기다리고 있는 것이 지독한 염병이라면, 다음 기차가 30년 뒤에 온다면, 애인의 아버지가 네 어머니라면, 농담이라면, 구멍이 흘리는 농담, 아주 오래 된 농담이라면, 종점보관소에 보관된 더러운 쟁반이라면, 침대 발치에 미동도 없이 난쟁이가 앉아있다면, 슬며시 네 발목을 쥐고 있다면, 채널을 돌려도 돌려도 똑 같은 장면이 나온다면, 매 분 매 초가 절정이라면, 절정에서 절정으로, 막간 없는 極樂이라면,';
			fortune[2] = '문장들 - (김언희) 아비의 낯가죽을 손톱으로 벗기는 문장, 어미의 뼈를 산채 바르는 문장, 젖이 아닌 것을 물리는 문장, 젖이 아니 것을 빠는 문장, 갈보 중의 상 갈보, 죽은 몸을 파는 문장, 죽은 몸은 대패로 밀어서 팔아먹는 문장, 부위별로 값이 다는 문장, 구석에서 대가리가 떨어져 나가도록 하고 있는 문장, 대가리가 떨어져 나간 줄도 모르고 하고 있는 문장, 떨어진 대가리가 개미떼에 떠들려 뿔뿔이 흩어지는 와중에도 하고 있는 문장, 숨이 끊어진 다음에도 알을 까고 있는 문장, 컴컴한 물밑에서 죽은 자의 항문을 쪽쪽 빨고 있는 문장, 창자까지 게워 바치는 문장, 다 게운 다음에도 더 게우는 문장, 부질없는 삽날을 물고 독을 질질 흘리는 문장, 손에 잡히는 건 뭐든 입으로 가져가는 문장, 손에 잡히는 건 뭐든 성기로 가져가는 문장, 세상의 중심을 혀끝으로 벌려보는 문장, 나를 아홉 구멍으로 범하는 문장, 어떤 죽음도 이미 죽음이 아닌 문장, 내 죽은 얼굴에 오줌을 싸는 문장, 내 죽은 얼굴에 칼질을 하는 문장.';
			fortune[3] = '반갑습니다';
			fortune[4] = '헬로';
			fortune[5] = '워아이니';
			fortune[6] = '...';
			fortune[7] = '!!!';
			fortune[8] = '!';
			index = Math.floor(Math.random() * fortune.length);
			document.write(fortune[index]);
		</script>
		<noscript>どうしてこうなるんだろう…</noscript>
	{% endif %}
